@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: black;
  color: gray;
  text-align: center;
  margin-top: 100px;
}

img {
  width: 40px;
  border: 0px;
  margin: 0px;
}

.navbar-dark .navbar-brand {
  font-family: "Oregano", cursive !important;
  color: red;
  font-weight: 900;
  font-size: 2em;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

  #inner-box {
  width: 90%;
  // flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
  }

#add-button {
  margin: 0 auto;
  text-align: center;
}

#form-container {
  width: 60%;
  margin: auto;
  justify-content: center;
  color: white;
}

.card {
  width: 300px;
  margin: 5px;
}

.table {
  margin: 10px;
  width: 80%;
  margin: 0 auto;
}

.description {
  white-space: pre-wrap;
}
